.teddy{
    width: 55px;
    height: 55px;
}
.carousel-inner img {
    max-height: 460px;
}
.navbar-nav {
    font-family: sans-serif;
}

/*Inicio*/
h2{
    justify-content: center;
    color: black;

}

.card{
    margin: 30px;

}
ul{
    list-style-type: none;
    gap: 20px;
    font-size: 40px;
}
.container{
    margin-top: 20px;
}

.redes{
    font-size: 30px;
    
}
.card:hover{
    transform: scale(1.2);
}
/*Cuarto del bebe*/
.categorias > ul > li{
    font-size: 16px;
   
}

.categorias ul li{
    display: inline-block;
    gap: 10px;
    padding: 10px;
    position: relative;
    align-items: center;
    
}
.categorias> ul> li:hover ul{
    display: inline-flex;
    transition: 0.5s;
    margin-top: 10px;
    }
.categorias> ul> li> ul{
    display: none;
    position: absolute;
    left: -20px;
    font-size: 16px;
}

/*Contacto*/
.formulario{
    margin: 20px;
}
