.teddy{
    width: 50px;
    height: 50px;
}
.carousel-inner img {
    max-height: 460px;
}
.carousel-item-active{
    display: flex;
    position: relative;
   
}
.navbar{
    font-family: sans-serif;
    font-size: 50x;
}
/*Inicio*/
.portada{
    display: flex;
    position: absolute;
    left: 70%;
    top: 50%;
    color: black;
    font-family: sans-serif;
    font-size: 30px;
    text-decoration: none;
}

.card{
    margin: 30px;

}